.color-white{
  color: #fff;
}

.green-area{
  background: #1ABC9C;
}

.gm-navbar{
  height: 80px;
  background: #2C3E50;
}

.gm-navbar .navbar-header .navbar-brand, .gm-navbar .nav > li > a{
  line-height: 80px;
}

.jumbotron-avatar{
  width: 250px;
  margin: 0 auto;
}

.jumbotron-avatar img{
  width: 100%;
}

h1{
  font-weight: bolder;
}

.star i{
  font-size: 30px;
  display: inline-block;
  width: auto;
}

.star::before, .star::after{
  content: "";
  display: inline-block;
  width: 25%;
  border-top: 4px solid #fff;
  margin-bottom: 10px;
  border-radius: 100px;
}

.top-main{
  color: #2C3E50;
}

.black-star.star::before, .black-star.star::after{
  border-top: 4px solid #2C3E50;
}

.top-main img{
  width: 100%;
}

.top-main [class*="col-"]{
  margin: 15px 0;
}

.middle-main p{
  padding: 0 50px;
}

.gm-form input, .gm-form textarea{
  border: 0;
  border-bottom: 1px solid #ccc
}

.gm-form ::placeholder{
  color: #2C3E50
}
